@foreach (var item in Model)
{
    if (Request.Path.Equals(item.Link))
    {
        if (string.IsNullOrEmpty(item.Submenus))
        {
            <li class="active">
                <a class="navbar-brand" href="@item.Link">
                    <span class="fa @item.Icon"></span>
                    @item.Descripcion
                </a>
            </li>
        }
        else
        {
            <li class="active">
                <a class="navbar-brand dropdown-toggle" data-toggle="dropdown"  aria-expanded="false">
                    <span class="fa @item.Icon"></span>
                    @item.Descripcion
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @for (int i = 0; i < item.GetSubMenus.GetLength(0); i++)
                    {
                        <li><a href="@item.GetSubMenus[i,1]">@item.GetSubMenus[i,0]</a></li>
                    }
                    
                </ul>
            </li>
        }

    }
    else
    {
        if (string.IsNullOrEmpty(item.Submenus))
        {
            <li>
                <a class="navbar-brand" href="@item.Link">
                    <span class="fa @item.Icon"></span>
                    @item.Descripcion
                </a>
            </li>
        }
        else
        {
            <li>
                <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="fa @item.Icon"></span>
                    @item.Descripcion
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @for (int i = 0; i < item.GetSubMenus.GetLength(0); i++)
                    {
                        <li><a href="@item.GetSubMenus[i,1]">@item.GetSubMenus[i, 0]</a></li>
                    }

                </ul>
            </li>
        }
    }

}

